
/* about.js css starts here */
.aboutus-main{
  background-color: white;
}

.hero{
  margin-top: 100px;
  background-color:white;
}
.title-developer {
  font-weight: 800;
  font-size: 3rem;
  color:black;
}
section.section.is-medium.is-primary.has-text-centered.is-long {
  background-color: #6e07f3;
  color: white;
  margin-top: 50px;
}
.hero.is-white .title {
  color: #141c3a;
}

.hero.is-white .subtitle {
  color: rgba(10, 10, 10, 0.9);
}
.tabs:not(:last-child),
.pagination:not(:last-child),
.message:not(:last-child),
.level:not(:last-child),
.breadcrumb:not(:last-child),
.block:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.progress:not(:last-child),
.notification:not(:last-child),
.content:not(:last-child),
.box:not(:last-child) {
  margin-bottom: 1.5rem;
}
.column ul {
  list-style: none;
  padding-left: 0;
}

.subtitle {
  font-family: "europa", sans-serif;
  line-height: 1.5;
}
@media screen and (min-width: 769px), print {
  .is-size-4-tablet {
    font-size: 1.5rem !important;
  }
}
.list-title{
  color: #6E07F3;
  font-weight: 600;
  font-size: 18px;
}
.subtitle {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}
.title,
.subtitle {
  word-break: break-word;
}

@media screen and (min-width: 769px) {
  .avatar {
    width: 210px;
  }
  .avatar {
    margin: 2rem 0;
    width: 150px;
    height: auto;
    max-width: 30%;
  }
   .is-bottom{
    height: auto;
    max-width: 30%;
  }
}
@media screen and (min-width: 769px) {
  .hero-foot img.is-bottom {
    margin-bottom: -0.45rem;
    max-width: 860px;
  }
  .hero-foot img.is-bottom {
    margin-bottom: -0.4rem;
  }
}
.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}
.section {
  padding: 5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }
}
.section {
  padding: 10rem 1.5rem;
}
.has-text-centered {
  text-align: center !important;
}
article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}
.container.is-narrow {
  max-width: 1200px;
}
@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.box {
  border-radius: 12px;
}
.box {
  background-color:#dadcef;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}
.content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.section.skills .box .content .columns {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 769px) {
  .columns {
    display: flex;
  }
}

.columns.is-centered {
  justify-content: center;
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

@media screen and (min-width: 1216px) {
  .section.skills .box .content .columns .column {
    padding: 70px 45px;
  }
}
@media screen and (min-width: 769px) {
  .section.skills .box .content .columns .column {
    border-bottom: 0px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
    padding: 60px 35px;
  }
}

.section.skills .box .content .columns .column {
  padding: 50px 30px;
  border-bottom: 1px solid #e6ecf8;
  border-right: 0px solid #e6ecf8;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
.section.skills .box .content .columns .column:last-child {
  border-right: none;
  border-bottom: none;
}
@media screen and (min-width: 1216px) {
  .section.skills .box .content .columns .column {
    padding: 70px px 45px;
  }
}

@media screen and (min-width: 769px) {
  .section.skills .box .content .columns .column {
    border-bottom: 0px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
    padding: 60px 35px;
  }
}
.section.skills .box .content .columns .column {
  padding: 50px 30px;
  border-bottom: 1px solid #e6ecf8;
  border-right: 0px solid #e6ecf8;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
