
/* Header.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: auto;
    padding: 20px;
  }
  
  .right {
    display: flex;
  }
  
  .right ul {
    display: flex;
    list-style: none;
  }
  
  .right li {
    margin-left: 15px;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {

    nav {
        display: block;        
        width: 100%;
    }

    .menu-icon {
      display: block;
      margin-top: -55px;
      float: right;
    }
    
    .right {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .right.open {
      display: flex;
    }
  
    .right ul {
      flex-direction: column;
      width: 100%;
    }
  
    .right li {
      margin: 10px 0;
    }
  }
  