 .card {
  position: relative;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  width: 300px;
  height: 300px;
  background-color: #4a3c62;
  color: #242329;
  text-align: center;
  border: 5px solid #fff;
  overflow: hidden;
}
.card:hover{
  box-shadow: 0 0 100px #9b8db4;
  height: 310px;
  width: 310px;
}
.card-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-300px);
  transition: transform 0.5s;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s 0.6s;
}
.card-title {
  font-size: 26px;
  text-transform: uppercase;
  color: yellow;
  padding: 5px;
  background-color: #4a3c62;
  margin-top: 25px;
}
.card-description {
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
}
.card-btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #242329;
  background-color: #fff;
  transition: background-color 0.25s;
}
.card-btn:hover {
  background-color: #242329;
  color: #fff;
}
.card:hover .card-data {
  transform: translateY(0px);
}
.card:hover .card-img {
  transform: translateX(300px);
  transition-delay: 0;
}
.container .row{
  justify-content: center;
  padding: 80px;
}
.column{
  margin-left: 40px;
}
@media screen and (min-width: 1216px){
.container:not(.is-max-desktop) {
    max-width: 1440px;
}}
