* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgb(18, 18, 62);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #8a19e3;
  font-size: 1.2rem;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}

.left {
  font-size: 1.5rem;
}
@import url("https://fonts.googleapis.com/css?family=Courgette");
canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform: initial;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -4;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 200px 0;
  z-index: 1;
  position: relative;
  background-attachment: #fff;
  overflow: hidden;
}
.rightSection {
  width: 80%;
  z-index: 1;
}
.rightSection img {
  width: 80%;
  z-index: 1;
}

.firstSection > div {
  width: 30%;
}
.name-title {
  width: 34vw;
}
.vertical-title-date {
  width: 40vh;
}

.leftSection {
  font-size: 3rem;
}

.purple {
  color: rgb(170, 107, 228);
}

.developer-title {
  color: rgb(170, 107, 228);
  width: 132vh;
}

.text-gray {
  color: gray;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 50vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  background-color: white;
  width: 77vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 10vw;
}

.image-top {
  width: 60px;
  position: relative;
  top: -60px;
  left: -30px;
}

.vertical-title {
  position: relative;
  top: 25px;
  width: 150px;
  font-size: 14px;
  color: white;
}

.vertical-desc {
  position: relative;
  top: 30px;
  color: gray;
  width: 150px;
  font-size: 12px;
}

.vertical-title:hover,
.vertical-desc:hover {
  color: #8a19e3;
  font-size: large;
  cursor: pointer;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
  background-color: #0e0e1a;
}

.footer ul {
  list-style: none;
}

.footer > div {
  width: 223px;
}

.footer-rights {
  background-color: #0e0e1a;
  text-align: center;
  color: gray;
  padding: 12px 0;
}
.fancy {
  font-family: "Marcellus SC", serif;
}
/* Responsive Css Coding Created By Shift Media Solutions| SMS */
.gb {
  padding: 8px 20px;
  margin-right: 25px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.gb-bordered {
  padding: 6px 20px;
  position: relative;
  border: 4px solid transparent;
  background-clip: padding-box;
  transition: 0.5s all;
}
/* Responsive Css Coding Created By Shift Media Solutions| SMS */
.gb-bordered:after {
  transition: 0.5s all;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.gb-rounded {
  border-radius: 50px;
}

.gb-rounded.gb-bordered:after {
  border-radius: 50px;
}

.hover-fill {
  transition: 0.6s all;
}

.hover-fill:hover {
  background-color: transparent;
  color: white;
}

.hover-fill.reverse {
  background-color: transparent;
  color: white;
}

.hover-fill.reverse:hover {
  background-color: white;
  color: #333;
}

.hover-slide {
  transition: 0.6s all;
}

.hover-slide:after {
  background-size: 200% 100%;
  background-position: 0% 0;
}

.hover-slide:hover:after {
  background-position: 100% 0;
}

#gb10:after {
  background-image: linear-gradient(
    135deg,
    #f68918 0%,
    #f68918 31%,
    #ae3e9f 31%,
    #ae3e9f 42%,
    #d2645c 42%,
    #d2645c 49%,
    #8a19e3 49%,
    #8a19e3 100%
  );
}

/* @media screen and (max-width: 1400px) {
  body {
    min-width: fit-content;
  }

  .box {
    flex-direction: column;
  }

  .secondSection .vertical {
    height: unset;
  }

  .vertical-title {
    position: relative;
    width: 150px;
    font-size: 14px;
  }

  .vertical-title,
  .vertical-desc {
    left: 45px;
    top: 65px;
  }
  .vertical-title:hover,
  .vertical-desc:hover {
    color: #8a19e3;
  }

  .secondSection .box {
    width: 50vh;
  }

  nav {
    flex-direction: column;
  }

  .firstSection {
    flex-direction: column-reverse;
  }
  .name-title {
    width: 50%;
  }

  .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightSection {
    width: 721px !important;
    display: flex;
    justify-content: center;
  }

  .rightSection img {
    width: 45vw;
    margin-bottom: 73px;
  }

  .image-top {
    top: 133px;
  }

  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 141vh;
  }

  .developer-title {
    display: flex;
    justify-content: center;
    color: rgb(170, 107, 228);
    width: 30vh;
  }
} */

.navigation-button {
  text-decoration: none;
  list-style: none;
  color: wheat;
}

.social-media-icons {
  display: flex;
}

.social-media-icons-image {
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
}
.row-achievemnts {
  padding-top: 100px;
  display: flex;
  overflow: auto;
}
.row-achievemnts-second {
  display: flex;
  padding-left: 260px;
  padding-right: 260px;
  padding-top: 100px;
}
.intro {
  display: contents;
  width: 100%;
}
.subtitle.is-size-5-desktop.has-text-weight-normal {
  font-family: "Poppins", sans-serif;
}

.work-experience-link {
  text-decoration: none;
  color: wheat;
}

.contact-me-subscribe {
  padding: 20px;
  width: 50%;
  margin: 50px;
  border-radius: 40px;
  border: 4px solid #30ce43;
}

.contact-me-button {
  width: 14%;
  padding: 20px;
  margin: 50px;
  padding-left: 10px;
  margin-left: -150px;
  border-radius: 40px;
  border: 4px solid #30ce43;
  background-color: #30ce43;
}
.contact-me-button:hover {
  background-color: darkgreen;
}

.contact-me-button :visited {
  background-color: rgb(124, 176, 199);
}

.col-contact-me-leftSide {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.col-contact-me-button {
  width: 40%;
  padding: 10px;
  margin: 10px;
  background-color: #30ce43;
  border-radius: 30px;
}

#textarea-border {
  border-top: 2px solid black;
  border-left: 2px solid;
}

#iframe {
  font-size: 50px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#contact-information {
  padding: 0px !important;
}
#contact-information-text {
  color: darkred;
  margin-left: 10px;
  margin-top: 20px;
}
.fa-solid.fa-house {
  font-size: 45px !important;
}
.heading-contact-me {
  color: black;
}
/* 
@media (max-width: 768px) {
  .name-title {
    font-size: 1.5rem;
  }

  .developer-title {
    font-size: 1.2rem;
  }

  .button button {
    font-size: 0.9rem;
  }

  .carousel-heading {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    font-size: 0.9rem;
  }

  .card-btn {
    font-size: 0.9rem;
  }
} */

/* @media (max-width: 480px) {
  .name-title {
    font-size: 1.2rem;
  }

  .developer-title {
    font-size: 1rem;
  }

  .button button {
    font-size: 0.8rem;
  }

  .carousel-heading {
    font-size: 1.2rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.8rem;
  }

  .card-btn {
    font-size: 0.8rem;
  }

  .canvas {
    display: block;
  }
} */
 
 /* Responsive css starts here */

@media screen and (max-width: 800px) {

  div {
    display: block;
  }
  nav {
    display: inline-block;
  }

  .firstSection {
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    z-index: 0;
    position: relative;
    background-attachment: #fff;
    overflow: none;
  }

  .secondSection {
    display: block;
    flex-direction: column;
    align-items: center;
    height: 0vh;
  }

  .leftSection{
    width: 0%;
  }
  .social-media-icons {
    display: block;
}
  
  .row-achievemnts {
    display: block;
}
  
 
.row-achievemnts-second {
  display: block;
}
.row-achievemnts-second {
   padding-left: 0px; 
   padding-right: 0px; 
   padding-top: 0px; 
}

.footer > div {
  width: 0px;
}



}
