* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #005c91;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #005c91;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 21px;
}

nav ul li a:hover {
  color: #47cdf2;
  font-size: 2rem;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}

.left {
  font-size: 1.5rem;
}
@import url("https://fonts.googleapis.com/css?family=Courgette");
canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform: initial;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -4;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 200px 0;
  z-index: 1;
  position: relative;
  background-attachment: #fff;
  overflow: hidden;
}
.rightSection {
  width: 80%;
  z-index: 1;
}
.rightSection img {
  width: 80%;
  z-index: 1;
}

.firstSection > div {
  width: 30%;
}
.name-title {
  width: 34vw;
}
.vertical-title-date {
  width: 40vh;
}

.leftSection {
  font-size: 3rem;
}

.purple {
  color: rgb(170, 107, 228);
}

.developer-title {
  color: rgb(170, 107, 228);
  width: 132vh;
}

.text-gray {
  color: gray;
}

.secondSection {
  max-width: 100vw;
  margin: auto;
  height: 50vh;
  background: #005c91;
  padding: 50px 10vw;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  background-color: white;
  width: 77vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 10vw;
}

.image-top {
  width: 60px;
  position: relative;
  top: -60px;
  left: -30px;
}

img.social-media-icons-image {
  background: #c8a3a3;
}
.vertical-title {
  position: relative;
  top: 25px;
  width: 150px;
  font-size: 14px;
  color: white;
}

.vertical-desc {
  position: relative;
  top: 30px;
  color: gray;
  width: 150px;
  font-size: 12px;
}

.vertical-title:hover,
.vertical-desc:hover {
  color: #ffa600;
  font-size: large;
  cursor: pointer;
}

.footer {
  display: flex;
  /* padding: 23px 122px; */
  justify-content: space-around;
  background-color: #005c91;
}

.footer ul {
  list-style: none;
}

.footer-first {
  padding: 20px;
}

@medisa only screen and (min-width: 800px) {
  .is-mobile {
    display: none;
  }
}

@medisa only screen and (min-width: 800px) {
  .footer > div {
    width: 33.33%;
  }
}
ul.social-media-icons {
  display: block;
  padding: 0;
  text-align: center;
}
ul.social-media-icons li {
  display: inline-block;
}

.footer-rights {
  background-color: #003e62;
  text-align: center;
  color: #fff;
  padding: 12px 0;
}
.fancy {
  font-family: "Marcellus SC", serif;
}
/* Responsive Css Coding Created By Shift Media Solutions| SMS */
.gb {
  padding: 8px 20px;
  margin-right: 25px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.gb-bordered {
  padding: 6px 20px;
  position: relative;
  border: 4px solid transparent;
  background-clip: padding-box;
  transition: 0.5s all;
}

/* Responsive Css Coding Created By Shift Media Solutions| SMS */
.gb-bordered:after {
  transition: 0.5s all;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.gb-rounded {
  border-radius: 50px;
}

.gb-rounded.gb-bordered:after {
  border-radius: 50px;
}

.hover-fill {
  transition: 0.6s all;
}

.hover-fill:hover {
  background-color: transparent;
  color: white;
}

.hover-fill.reverse {
  background-color: transparent;
  color: white;
}

.hover-fill.reverse:hover {
  background-color: white;
  color: #333;
}

.hover-slide {
  transition: 0.6s all;
}

.hover-slide:after {
  background-size: 200% 100%;
  background-position: 0% 0;
}

.hover-slide:hover:after {
  background-position: 100% 0;
}

#gb10:after {
  background-image: linear-gradient(
    135deg,
    #f68918 0%,
    #f68918 31%,
    #ae3e9f 31%,
    #ae3e9f 42%,
    #d2645c 42%,
    #d2645c 49%,
    #8a19e3 49%,
    #8a19e3 100%
  );
}

.navigation-button {
  text-decoration: none;
  list-style: none;
  color: wheat;
}

.social-media-icons {
  display: flex;
}

.social-media-icons-image {
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
}
.row-achievemnts {
  padding-top: 100px;
  display: flex;
  overflow: auto;
}
.row-achievemnts-second {
  display: flex;
  padding-left: 260px;
  padding-right: 260px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.intro {
  display: contents;
  width: 100%;
}
.subtitle.is-size-5-desktop.has-text-weight-normal {
  font-family: "Poppins", sans-serif;
}

.work-experience-link {
  text-decoration: none;
  color: wheat;
}

.contact-me-subscribe {
  padding: 20px;
  width: 50%;
  margin: 50px;
  border-radius: 40px;
  border: 4px solid #30ce43;
}

.contact-me-button {
  width: 14%;
  padding: 20px;
  margin: 50px;
  padding-left: 10px;
  margin-left: -200px;
  border-radius: 40px;
  border: 4px solid #30ce43;
  background-color: #30ce43;
}
.contact-me-button:hover {
  background-color: darkgreen;
}

.contact-me-button :visited {
  background-color: rgb(124, 176, 199);
}

.col-contact-me-leftSide {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.col-contact-me-button {
  width: 40%;
  padding: 10px;
  margin: 10px;
  background-color: #30ce43;
  border-radius: 30px;
}

#textarea-border {
  border-top: 2px solid black;
  border-left: 2px solid;
}

#iframe {
  font-size: 50px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#contact-information {
  padding: 0px !important;
}
#contact-information-text {
  color: darkred;
  margin-left: 10px;
  margin-top: 20px;
}
.fa-solid.fa-house {
  font-size: 45px !important;
}
.heading-contact-me {
  color: black;
}

.main-project-section {
  background-color: #7fbbdd;
}

span.contact-me-heading-green {
  color: #16e916;
}
.container.calling-section-mobile {
  background-color: wheat;
  border-radius: 40px;
}

/* Responsive css starts here */

@media screen and (max-width: 800px) {
  div {
    display: block;
  }
  nav {
    display: inline-block;
  }

  .left {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    left: -40px;
  }

  .firstSection {
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    z-index: 0;
    position: relative;
    background-attachment: #fff;
    overflow: none;
  }

  .secondSection {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100vw;
    margin: auto;
    height: 70vh;
    padding: 26px 10vw;
  }

  .box.secondSection {
    padding: 0;
  }

  .second-section-br {
    display: none;
  }
  section.thirdSection {
    margin-bottom: -120px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .vertical {
    position: relative;
    left: -138px;
  }

  .vertical-title {
    font-size: 13px;
    top: 30px;
    left: 40px;
  }

  .vertical-title-date {
    font-size: 12px;
    top: 30px;
    left: 40px;
  }

  .vertical-desc {
    font-size: 12px;
    top: 30px;
    left: 40px;
  }

  .image-top {
    width: 50px; /* Adjust image size as needed */
    height: auto;
    position: relative;
    top: 80px;
    /* left: -57px; */
  }

  .firstSection > div {
    width: 100%;
  }
  .name-title {
    width: 100%;
    font-size: 1.2rem;
  }
  .developer-title {
    font-size: 1.5rem;
  }
  button#gb10 {
    font-size: xx-small;
    margin: 13px;
  }
  .leftSection {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 20px 0;
  }

  .social-media-icons {
    display: block;
  }

  .row-achievemnts {
    display: block;
    overflow: visible;
    padding-top: 50%;
  }

  .row-achievemnts-second {
    display: block;

    padding-bottom: 0px;
  }
  .row-achievemnts-second {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  .footer {
    display: block;
    padding: 10px;
    justify-content: space-evenly;
    background-color: #005c91;
  }

  .thirdSection-column {
    margin-left: 0px;
  }

  .media-carousel-mobile {
    padding: 0px 80px 0px 80px !important;
  }
  .media-carousel-mobile-inside {
    padding: 50px 80px 50px 80px !important;
  }

  .footer-mobile {
    height: 80px;
    width: 80px;
  }

  img.avatar {
    height: 150px;
    margin: 20px;
  }

  .mobile-subscribe-row {
    display: block;
  }

  .contact-me-subscribe {
    padding: 20px;
    width: 80%;
    margin: 5px 0px 0px 5px;
    border-radius: 40px;
    border: 4px solid #30ce43;
  }

  .contact-me-button {
    width: auto;
    padding: 20px;
    margin: 0px;
    padding-left: 10px;
    margin-left: -120px;
    border-radius: 40px;
    border: 4px solid #30ce43;
    background-color: #30ce43;
  }
  .contact-me-main-section {
    padding: 10px;
    margin: 10px;
  }

  section.section.introduction-summary.is-medium.is-primary.has-text-centered.is-long {
    padding-top: 40px;
  }

  .container.calling-section-mobile {
    /* margin: 10px; */
  }
  .row.form-section-mobile {
    padding: 40px !important;
  }
  h3.heading-contact-me {
    text-align: center;
  }

  .col-md-2 {
    flex:0 0;
    max-width: 100px;
    padding: 0px;
  }

  #contact-information-text {
    margin-top: 8px;
    font-size: 12px;
}

  div#contact-information {
    justify-content: normal;
  }

  .vertical-title-date {
    width: auto;
  }
  button.col-contact-me-button {
    width: 70%;
}

}

.popup {
  position: fixed;
  top: 200px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


@media (max-width: 480px) {
  /* .column.thirdSection-column  {
    margin-left: 0px !important;
}
.column.is-three-fifths  {
  margin-left: 0px !important;
} */

}

section.secondSection {
  box-sizing: unset;
}
